# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/dev/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Uploaded evidence (development)
public/uploads/
